{:paths ["src" "resources"]

 :deps {org.clojure/clojure       {:mvn/version "1.10.3"}
        org.clojure/tools.cli     {:mvn/version "1.0.206"}
        com.datomic/datomic-pro   {:mvn/version "1.0.6527"}
        org.postgresql/postgresql {:mvn/version "9.3-1102-jdbc41"}
        com.cognitect/anomalies   {:mvn/version "0.1.12"}}

 :mvn/repos {"my.datomic.com" {:url "https://my.datomic.com/repo"}}}
